Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint-es, yarn run type-check, yarn run lint-css

restructure know your rights
  pages/know-your-rights/index.tsx
Due: yarn run lint-es, yarn run type-check

adds React Fragments to Header component so mapped links will have a key prop
  components/Header.tsx
Due: yarn run lint-es, yarn run type-check

changes filters to converters for the sake of clarity
  helpers/converters.ts
  helpers/index.ts
  pages/[category]/index.tsx
  pages/search/index.tsx
Due: yarn run lint-es, yarn run type-check

fixes CVE-2021-27290
  package.json
  yarn.lock
Due: none

changes loading order in _app.tsx so app cannot render without a language value being present
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check

creates useLocation hook and cleans up named exports of hooks
  hooks/index.ts
  hooks/useLocation.ts
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check

now accessing geolocation object in browser navigator
  hooks/useLocation.ts
  pages/_app.tsx
  types/index.ts
  types/maps.ts
Due: yarn run lint-es, yarn run type-check

checks for saved coords in localStorage when app loads
  constants/index.ts
  constants/maps.ts
  helpers/location.ts
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check

sets up flow that will only explicitly ask for user location on front landing page, otherwise it will be built to be explicitly set by user at DisplayMap component
  helpers/location.ts
  pages/_app.tsx
  pages/index.tsx
Due: yarn run lint-es, yarn run type-check

adds map marker if user has allowed app to access geolocation
  components/DisplayMap.tsx
  components/MapMarker.tsx
  public/icons/user_marker.svg
Due: yarn run lint-es, yarn run type-check

displays user marker on map IF user is in Santa Barbara County
  components/DisplayMap.tsx
  constants/index.ts
  constants/maps.ts
  helpers/index.ts
  helpers/validators.ts
  hooks/useMapInfo.ts
Due: yarn run lint-es, yarn run type-check

preps DisplayMap and associated components/hooks for proximity filter
  components/CityFilter.tsx
  components/DisplayMap.tsx
  constants/maps.ts
  helpers/location.ts
  hooks/useMapInfo.ts
Due: yarn run lint-es, yarn run type-check

attempts to solve proximity sorting problem with cascading state. does not succeed. also fixes bug where map was disappearing where map was disappearing when no city filter box was checked
  components/CityFilter.tsx
  components/DisplayMap.tsx
  components/ProximityFilter.module.css
  components/ProximityFilter.tsx
  components/index.ts
  helpers/index.ts
  helpers/location.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

fixes error where map is disappearing when no matching records are returned, am going to do a reducer to hold state next
  pages/[category]/index.tsx
Due: yarn run lint-es, yarn run type-check

visibility filter working, new problems with keeping data fresh arose
  components/CityFilter.tsx
  components/DisplayMap.tsx
  helpers/index.ts
  helpers/location.ts
  pages/[category]/index.tsx
  pages/search/index.tsx
  types/index.ts
  types/maps.ts
Due: yarn run lint-es, yarn run type-check

data keeping fresh more or less the way i want it to, there may be a better way but this will do for now
  components/CityFilter.tsx
  components/DisplayMap.tsx
  components/LiveDataSearch.tsx
  constants/index.ts
  constants/maps.ts
  helpers/index.ts
  helpers/location.ts
  hooks/index.ts
  hooks/useSearchFilters.ts
  package.json
  pages/search/index.tsx
  types/maps.ts
Due: yarn run lint-es, yarn run type-check

creates FilterTypes type and creates constants to use with filtering reducer
  components/CityFilter.tsx
  components/DisplayMap.tsx
  constants/index.ts
  constants/maps.ts
  types/index.ts
  types/maps.ts
Due: yarn run lint-es, yarn run type-check

pProximityFilter working well, as in reducer used to control search values. should be very extensible
  components/CityFilter.tsx
  components/DisplayMap.tsx
  components/MapMarker.tsx
  components/ProximityFilter.module.css
  components/ProximityFilter.tsx
  helpers/location.ts
  hooks/useSearchFilters.ts
  pages/_app.tsx
  pages/index.tsx
  pages/knowyourrights/index.tsx
  styles/variables.css
  types/index.ts
  types/maps.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

minor cleanup
  types/ui.ts
  ui/index.ts
Due: yarn run lint-es, yarn run type-check

more readable distance constants and functions in /helpers/locations
  helpers/location.ts
Due: yarn run lint-es, yarn run type-check

creates OrgRecordCard component and adds logo to ccards in category search as well as lists category thcategories that an org falls into
  components/OrgRecordCard.module.css
  components/OrgRecordCard.tsx
  components/RecordPane.tsx
  components/ResourceHub.tsx
  components/index.ts
  constants/routes.ts
  helpers/converters.ts
  hooks/useMultipleListRecords.ts
  pages/api/airtablerecordsbycategory.ts
  public/icons/communitysupport.svg
  public/icons/legalservices.svg
  public/icons/medicalsupport.svg
  public/icons/resourcedirectory.svg
  types/records.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

imporves styling of org,location and schedule panes
  components/OrgRecordCard.module.css
  components/OrgRecordCard.tsx
  components/ScheduleRecordDisplay.tsx
  components/SendText.module.css
  ui/Card.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

refactors location and schedule panes and links to directions in google maps
  components/LocationRecordDisplay.module.css
  components/LocationRecordDisplay.tsx
  components/ScheduleRecordDisplay.module.css
  components/SendText.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

fixes stale icon updating issue in MapMarker component
  components/MapMarker.tsx
  helpers/converters.ts
Due: yarn run lint-es, yarn run type-check

returns tags that match search query from airtable search
  helpers/converters.ts
  pages/api/airtablerecordsbykeyword.ts
Due: yarn run lint-es, yarn run type-check

creates SearchTermsMarquee component to display terms that are matched when user searches
  components/LiveDataSearch.module.css
  components/LiveDataSearch.tsx
  components/SearchTermsMarquee.module.css
  components/SearchTermsMarquee.tsx
  components/index.ts
  styles/variables.css
  tsconfig.json
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

shows search terms matched on each returned result in global search, cleanus up SearchTermsMarquee component, installs types for Lodash
  components/LiveDataSearch.module.css
  components/LiveDataSearch.tsx
  components/SearchTermsMarquee.tsx
  package.json
  yarn.lock
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

abstracts results from global results to be listed in GlobalSearchResult component, cleans up logic in category landing pages a bit
  components/GlobalSearchResult.module.css
  components/GlobalSearchResult.tsx
  components/LiveDataSearch.module.css
  components/LiveDataSearch.tsx
  components/RecordPane.tsx
  components/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds icons to GlobalSearchResult component
  components/GlobalSearchResult.module.css
  components/GlobalSearchResult.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds Burger and BurgerItems as export to /components/index.ts
  components/index.ts
Due: yarn run lint-es, yarn run type-check

refactors Navigator component and adds it to ui as an ever-present back button. will be especially useful in PWA
  components/Navigator.module.css
  components/Navigator.tsx
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

gets location by click of a button in FineMe component, more to come
  components/FindMe.module.css
  components/FindMe.tsx
  components/LiveDataSearch.module.css
  components/LiveDataSearch.tsx
  components/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

refactors usage of GeoLocationCoordinates to include boolean isInSBCounty, thereby elminating redundant calls to verify if a user is in the county
  components/DisplayMap.tsx
  components/LocationRecordDisplay.tsx
  components/ProximityFilter.tsx
  helpers/location.ts
  pages/_app.tsx
  types/index.ts
  types/maps.ts
Due: yarn run lint-es, yarn run type-check

first pass, displays toast that lets user know if they are in SB county or not
  components/DisplayMap.tsx
  components/SendText.tsx
  components/Toast.module.css
  components/Toast.tsx
  components/index.ts
  constants/copy.ts
  constants/index.ts
  hooks/index.ts
  hooks/useToast.ts
  pages/_app.tsx
  types/index.ts
  types/ui.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

finalizes fetching user location and displays information in toast popup
  components/FindMe.tsx
  components/Toast.tsx
  constants/copy.ts
  helpers/location.ts
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check

further styles LiveDataSearch, Navigator and Toast
  components/LiveDataSearch.module.css
  components/Navigator.module.css
  components/Toast.module.css
  components/Toast.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

fixes global search component styling error
  components/DisplayMap.tsx
  components/FindMe.module.css
  components/LiveDataSearch.module.css
  components/LiveDataSearch.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

hardcodes latitude and longitude values for presentation in /helpers/locations in checkAndSetUserLoaction function
  helpers/location.ts
Due: yarn run lint-es, yarn run type-check

adds back dynamic values for latitude, longitude and isInSantaBarbara boolean in /helpers/location/ checkAndSetUserLocation function
  helpers/location.ts
Due: yarn run lint-es, yarn run type-check

hardcodes lat and long for user testing
  helpers/location.ts
Due: yarn run lint-es, yarn run type-check

Path conditions:
  yarn run lint-es: any of: ./**/*.{js,jsx,ts,tsx}
  yarn run type-check: any of: ./**/*.{ts,tsx}
  yarn run lint-css: any of: ./**/*.css
