Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint-es, yarn run type-check, yarn run lint-css

adds custom map markers
  components/DisplayMap.module.css
  components/DisplayMap.tsx
  components/MapMarker.module.css
  components/MapMarker.tsx
  components/index.ts
  public/icons/communitysupport_marker.svg
  public/icons/legalservices_marker.svg
  public/icons/medicalsupport_marker.svg
  public/icons/mentalhealth_marker.svg
  public/icons/resourcedirectory_marker.svg
  public/icons/socialservices_marker.svg
  public/icons/substanceuse_marker.svg
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

makes the navigator a bit nicer
  components/Navigator.module.css
  styles/variables.css
Due: yarn run lint-css

unifying category page and org info page
  components/RecordPane.module.css
  components/RecordPane.tsx
  pages/clothing/index.tsx
  pages/communitysupport/index.tsx
  pages/employment/index.tsx
  pages/food/index.tsx
  pages/housing/index.tsx
  pages/legalservices/index.tsx
  pages/medicalsupport/index.tsx
  pages/mentalhealth/index.tsx
  pages/resourcedirectory/index.tsx
  pages/socialservices/index.tsx
  pages/substanceuse/index.tsx
  pages/transportation/index.tsx
  services/GET.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

changes id and index pages to handle new map structure, will be changed and made more efficent when i institute global state
  components/RecordPane.tsx
  pages/clothing/[id].tsx
  pages/clothing/index.tsx
  pages/communitysupport/[id].tsx
  pages/communitysupport/index.tsx
  pages/employment/[id].tsx
  pages/employment/index.tsx
  pages/food/[id].tsx
  pages/food/index.tsx
  pages/housing/[id].tsx
  pages/housing/index.tsx
  pages/legalservices/[id].tsx
  pages/legalservices/index.tsx
  pages/medicalsupport/[id].tsx
  pages/medicalsupport/index.tsx
  pages/mentalhealth/[id].tsx
  pages/mentalhealth/index.tsx
  pages/resourcedirectory/[id].tsx
  pages/resourcedirectory/index.tsx
  pages/socialservices/[id].tsx
  pages/socialservices/index.tsx
  pages/substanceuse/[id].tsx
  pages/substanceuse/index.tsx
  pages/transportation/[id].tsx
  pages/transportation/index.tsx
Due: yarn run lint-es, yarn run type-check

fixes reloading fetching issue, id was not being passed to fetchSingleOrgRecord in ./services/GET.ts
  hooks/useSingleRecord.ts
Due: yarn run lint-es, yarn run type-check

transportation map working
  components/DisplayMap.module.css
  components/DisplayMap.tsx
  components/OrgRecordDisplay.tsx
  pages/transportation/index.tsx
  services/GET.ts
  types/records.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

all category maps now working
  pages/clothing/index.tsx
  pages/communitysupport/index.tsx
  pages/employment/index.tsx
  pages/food/index.tsx
  pages/housing/index.tsx
  pages/legalservices/index.tsx
  pages/medicalsupport/index.tsx
  pages/mentalhealth/index.tsx
  pages/resourcedirectory/index.tsx
  pages/socialservices/index.tsx
  pages/substanceuse/index.tsx
  services/GET.ts
Due: yarn run lint-es, yarn run type-check

adds uuid to all map locations and adds popup to map locations with names
  components/MapMarker.module.css
  components/MapMarker.tsx
  components/Popup.module.css
  components/Popup.tsx
  components/index.ts
  pages/transportation/index.tsx
  services/GET.ts
  styles/variables.css
  types/maps.ts
  types/records.ts
  ui/Button.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

links orgs to map
  components/MapMarker.tsx
  pages/clothing/index.tsx
  pages/communitysupport/index.tsx
  pages/employment/index.tsx
  pages/food/index.tsx
  pages/housing/index.tsx
  pages/legalservices/index.tsx
  pages/medicalsupport/index.tsx
  pages/mentalhealth/index.tsx
  pages/resourcedirectory/index.tsx
  pages/socialservices/index.tsx
  pages/substanceuse/index.tsx
  pages/transportation/index.tsx
Due: yarn run lint-es, yarn run type-check

eliminates redundant code in pages by creating a container
  components/CategoryPageContainer.tsx
  components/MapMarker.tsx
  components/index.ts
  pages/clothing/index.tsx
  pages/communitysupport/index.tsx
  pages/employment/index.tsx
  pages/food/index.tsx
  pages/housing/index.tsx
  pages/legalservices/index.tsx
  pages/medicalsupport/index.tsx
  pages/mentalhealth/index.tsx
  pages/resourcedirectory/index.tsx
  pages/socialservices/index.tsx
  pages/substanceuse/index.tsx
  pages/transportation/index.tsx
Due: yarn run lint-es, yarn run type-check

cleans up RecordPane component
  components/RecordPane.module.css
  components/RecordPane.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

creates orgpagecontainer to save space in page files. is there a better way to do this?
  components/OrgPageContainer.tsx
  components/index.ts
  pages/clothing/[id].tsx
  pages/communitysupport/[id].tsx
  pages/employment/[id].tsx
  pages/food/[id].tsx
  pages/housing/[id].tsx
  pages/legalservices/[id].tsx
  pages/medicalsupport/[id].tsx
  pages/mentalhealth/[id].tsx
  pages/resourcedirectory/[id].tsx
  pages/socialservices/[id].tsx
  pages/substanceuse/[id].tsx
  pages/transportation/[id].tsx
Due: yarn run lint-es, yarn run type-check

simplifies head tags
  components/PwaTags.tsx
  components/index.ts
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
Due: yarn run lint-es, yarn run type-check

fixes map disappearing when not finding a match to searched item
  components/CategoryPageContainer.tsx
  components/DisplayMap.tsx
  hooks/useMapInfo.ts
Due: yarn run lint-es, yarn run type-check

changes substance use and food icons
  public/icons/food.svg
  public/icons/food_marker.svg
  public/icons/substanceuse.svg
  public/icons/substanceuse_marker.svg
Due: none

sets up global language context
  .eslintrc.json
  hooks/index.ts
  hooks/useLanguage.ts
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check

adds loading language check
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check

makes offset fetching automatic instead of needing a button
  components/RecordPane.tsx
  services/GET.ts
Due: yarn run lint-es, yarn run type-check

fetches category info in both languages, going to consume and implement single org fetch soon as well
  components/RecordPane.tsx
  hooks/useLanguage.ts
  pages/_app.tsx
  services/GET.ts
  types/language.ts
  types/records.ts
Due: yarn run lint-es, yarn run type-check

centralizes fetching of multiple org records, next step is setting timer for fetching and getting spanish language multiple records to show up
  components/CategoryPageContainer.tsx
  components/OrgPageContainer.tsx
  hooks/index.ts
  hooks/useMultipleListRecords.ts
  services/GET.ts
Due: yarn run lint-es, yarn run type-check

displays multiple spanish language listings, next up is displaying single org
  hooks/useMultipleListRecords.ts
Due: yarn run lint-es, yarn run type-check

institutes two state solution for fetching multiple list records, my bad
  hooks/useMultipleListRecords.ts
Due: yarn run lint-es, yarn run type-check

institutes spanish language option for single record location data
  hooks/useSingleRecord.ts
  types/records.ts
Due: yarn run lint-es, yarn run type-check

sets spanish language schedule info in single records
  hooks/useSingleRecord.ts
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check

adds spanish language org info to fetched single records
  hooks/useSingleRecord.ts
  pages/_app.tsx
  types/records.ts
Due: yarn run lint-es, yarn run type-check

adds lang switcher button
  components/Header.tsx
  components/LangSwitcher.tsx
Due: yarn run lint-es, yarn run type-check

adds sorting by name to spanish orgs
  components/index.ts
  hooks/useMultipleListRecords.ts
  services/GET.ts
Due: yarn run lint-es, yarn run type-check

changes logic and loading order for lang switcher component, styling next
  components/Header.tsx
  components/LangSwitcher.module.css
  components/LangSwitcher.tsx
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

fixes initial render error with language inLangSwitcher component
  components/LangSwitcher.tsx
Due: yarn run lint-es, yarn run type-check

adds language switcher toggle switch
  components/LangSwitcher.module.css
  components/LangSwitcher.tsx
  styles/variables.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

attaches checked to initial load language
  components/LangSwitcher.tsx
Due: yarn run lint-es, yarn run type-check

eliminates commented text in WrapContainer component
  ui/WrapContainer.tsx
Due: yarn run lint-es, yarn run type-check

adds dynamic description tag in head
  components/LangSwitcher.tsx
  pages/_app.tsx
  pages/_document.tsx
Due: yarn run lint-es, yarn run type-check

begins making front end text changeable between english and spanish
  components/Header.tsx
  components/LangSwitcher.module.css
  components/LangSwitcher.tsx
  components/OrgRecordDisplay.tsx
  components/PwaDownload.tsx
  components/Search.tsx
  components/SendText.tsx
  constants/routes.ts
  pages/index.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

attaches constants to strings
  components/LangSwitcher.module.css
  components/LangSwitcher.tsx
  components/PwaDownload.tsx
  components/Search.tsx
  pages/_app.tsx
  services/GET.ts
  types/language.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

front end copy translation almost done
  components/LangSwitcher.module.css
  components/LangSwitcher.tsx
  components/LocationRecordDisplay.tsx
  components/OrgRecordDisplay.tsx
  components/ScheduleRecordDisplay.module.css
  components/ScheduleRecordDisplay.tsx
  components/SendText.tsx
  types/language.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

all components bilingual, now have to do catergories
  components/ScheduleRecordDisplay.tsx
Due: yarn run lint-es, yarn run type-check

attaches routes to hooks for landing pages
  components/CategoryPageContainer.tsx
  components/OrgPageContainer.tsx
  components/RecordPane.tsx
  constants/categories.ts
  pages/clothing/index.tsx
  pages/communitysupport/index.tsx
  pages/employment/index.tsx
  pages/food/index.tsx
  pages/housing/index.tsx
  pages/legalservices/index.tsx
  pages/medicalsupport/index.tsx
  pages/mentalhealth/index.tsx
  pages/resourcedirectory/index.tsx
  pages/socialservices/index.tsx
  pages/substanceuse/index.tsx
  pages/transportation/index.tsx
Due: yarn run lint-es, yarn run type-check

attaches id pages to constants
  components/OrgPageContainer.tsx
  pages/clothing/[id].tsx
  pages/communitysupport/[id].tsx
  pages/employment/[id].tsx
  pages/food/[id].tsx
  pages/housing/[id].tsx
  pages/legalservices/[id].tsx
  pages/medicalsupport/[id].tsx
  pages/mentalhealth/[id].tsx
  pages/resourcedirectory/[id].tsx
  pages/socialservices/[id].tsx
  pages/substanceuse/[id].tsx
  pages/transportation/[id].tsx
Due: yarn run lint-es, yarn run type-check

iadds roboto font and improves font weights
  components/Header.module.css
  components/LangSwitcher.module.css
  components/LocationRecordDisplay.module.css
  components/LocationRecordDisplay.tsx
  components/Navigator.module.css
  components/OrgRecordDisplay.module.css
  components/OrgRecordDisplay.tsx
  components/RecordPane.module.css
  pages/_app.tsx
  pages/_document.tsx
  styles/globals.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

Path conditions:
  yarn run lint-es: any of: ./**/*.{js,jsx,ts,tsx}
  yarn run type-check: any of: ./**/*.{ts,tsx}
  yarn run lint-css: any of: ./**/*.css
