Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint-es, yarn run type-check, yarn run lint-css

improves responsive styling, still a ways to go though
  components/DisplayMap.module.css
  components/DisplayMap.tsx
  components/LocationRecordDisplay.module.css
  components/RecordPane.module.css
  components/RecordPane.tsx
  ui/Details.module.css
  ui/Details.tsx
  ui/PublicPage.module.css
  ui/RecordListing.module.css
  ui/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

fixes details large screen opening useEffect
  components/RecordPane.module.css
  ui/Details.tsx
  ui/RecordListing.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

updates header to be in line with wireframes
  components/Header.module.css
  components/LangSwitcher.module.css
  components/LangSwitcher.tsx
  pages/_app.tsx
  styles/variables.css
  ui/Details.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

updates text sizing to be in line with wireframes
  components/Header.module.css
  components/LangSwitcher.module.css
  components/Navigator.module.css
  styles/variables.css
  ui/Button.module.css
  ui/Details.module.css
  ui/IconTile.module.css
  ui/Input.module.css
  ui/RecordListing.module.css
Due: yarn run lint-css

updates button to be in line with style guide
  components/OrgRecordDisplay.module.css
  components/OrgRecordDisplay.tsx
  components/RecordPane.module.css
  components/ScheduleRecordDisplay.module.css
  ui/Button.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

starts footer, renames color variables to make more sense
  components/Footer.module.css
  components/Footer.tsx
  components/Header.module.css
  components/LangSwitcher.module.css
  components/LangSwitcher.tsx
  components/LocationRecordDisplay.module.css
  components/Navigator.module.css
  components/Popup.module.css
  components/ScheduleRecordDisplay.module.css
  components/index.ts
  pages/_app.tsx
  styles/globals.css
  styles/variables.css
  ui/Button.module.css
  ui/Details.module.css
  ui/IconTile.module.css
  ui/RecordListing.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds font weight to language switcher
  components/LangSwitcher.module.css
  components/LangSwitcher.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

refactors header and starts footer
  components/Footer.module.css
  components/Footer.tsx
  components/Header.module.css
  components/Header.tsx
  components/SBPDLogo.module.css
  components/SBPDLogo.tsx
  components/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds logo to header
  components/FreshStartLogo.tsx
  components/Header.module.css
  components/Header.tsx
  components/LangSwitcher.tsx
  components/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

header and logo newly responsive
  components/FreshStartLogo.tsx
  components/Header.module.css
  components/Header.tsx
  components/LangSwitcher.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds circular logo to footer
  components/Footer.module.css
  components/Footer.tsx
  components/Header.tsx
  components/index.ts
  ui/FreshStartLeaf.tsx
  ui/FreshStartLogo.tsx
  ui/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds loading component to animate while fetching records
  components/Footer.tsx
  components/LeafLoader.module.css
  components/LeafLoader.tsx
  components/RecordPane.tsx
  components/index.ts
  ui/PublicPage.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds leaf loader to fetched org information
  components/OrgPageContainer.module.css
  components/OrgPageContainer.tsx
  components/OrgRecordDisplay.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

fixes screen width bug
  components/OrgPageContainer.module.css
Due: yarn run lint-css

org record now in Details component
  components/DisplayMap.module.css
  components/DisplayMap.tsx
  components/OrgRecordDisplay.module.css
  components/OrgRecordDisplay.tsx
  components/RecordPane.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

unifying spacing
  components/DisplayMap.module.css
  components/LocationRecordDisplay.module.css
  components/OrgRecordDisplay.module.css
  components/OrgRecordDisplay.tsx
  components/RecordPane.module.css
  components/RecordPane.tsx
  ui/Details.tsx
  ui/PublicPage.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

minor type and ui fixes:
  components/DisplayMap.tsx
  components/Header.module.css
  components/OrgRecordDisplay.tsx
  components/RecordPane.tsx
  hooks/useMultipleListRecords.ts
  hooks/useSingleRecord.ts
  styles/variables.css
  types/language.ts
  ui/Details.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds leaf favicon and updates <title> tagsfrom Santa Barbara Reentry to Fresh Start Santa Barbara
  components/OrgPageContainer.tsx
  constants/copy.ts
  pages/_app.tsx
  pages/_document.tsx
  pages/clothing/index.tsx
  pages/communitysupport/index.tsx
  pages/employment/index.tsx
  pages/food/index.tsx
  pages/housing/index.tsx
  pages/legalservices/index.tsx
  pages/medicalsupport/index.tsx
  pages/mentalhealth/index.tsx
  pages/resourcedirectory/index.tsx
  pages/socialservices/index.tsx
  pages/substanceuse/index.tsx
  pages/transportation/index.tsx
  public/images/leaf.svg
Due: yarn run lint-es, yarn run type-check

preloads Mapbox css to improve performance
  pages/_document.tsx
  public/service-worker.js
  public/workbox-7797d470.js
  public/workbox-c2b5e142.js
Due: yarn run lint-es, yarn run type-check

further css sheet loading tweaking
  pages/_document.tsx
Due: yarn run lint-es, yarn run type-check

further lighthouse refinements
  components/SBPDLogo.module.css
  components/SBPDLogo.tsx
  public/robots.txt
  ui/IconTile.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

changes explicitly named category routes to one dynamic route
  components/MapMarker.tsx
  components/RecordPane.tsx
  pages/[category]/[id].tsx
  pages/[category]/index.tsx
  pages/communitysupport/[id].tsx
  pages/communitysupport/index.tsx
  pages/employment/[id].tsx
  pages/employment/index.tsx
  pages/food/[id].tsx
  pages/food/index.tsx
  pages/housing/[id].tsx
  pages/housing/index.tsx
  pages/legalservices/[id].tsx
  pages/legalservices/index.tsx
  pages/medicalsupport/[id].tsx
  pages/medicalsupport/index.tsx
  pages/mentalhealth/[id].tsx
  pages/mentalhealth/index.tsx
  pages/resourcedirectory/[id].tsx
  pages/resourcedirectory/index.tsx
  pages/socialservices/[id].tsx
  pages/socialservices/index.tsx
  pages/substanceuse/[id].tsx
  pages/substanceuse/index.tsx
  pages/transportation/[id].tsx
  pages/transportation/index.tsx
Due: yarn run lint-es, yarn run type-check

PublicPage ui component was redundant, now eliminated
  pages/_app.tsx
  styles/globals.css
  ui/PublicPage.module.css
  ui/PublicPage.tsx
  ui/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

eliminates redundant WrapContainer ui component
  components/ResourceHub.module.css
  components/ResourceHub.tsx
  components/index.ts
  pages/index.tsx
  ui/WrapContainer.tsx
  ui/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

eliminates redundant IconTile ui component
  components/ResourceHub.module.css
  components/ResourceHub.tsx
  ui/IconTile.module.css
  ui/IconTile.tsx
  ui/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

styles front page components
  components/OrgRecordDisplay.module.css
  components/PwaDownload.module.css
  components/PwaDownload.tsx
  components/ResourceHub.module.css
  components/ResourceHub.tsx
  styles/globals.css
  styles/variables.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

creates reusable title element
  components/OrgRecordDisplay.module.css
  components/OrgRecordDisplay.tsx
  components/PwaDownload.module.css
  components/PwaDownload.tsx
  components/ResourceHub.module.css
  components/ResourceHub.tsx
  types/ui.ts
  ui/Title.module.css
  ui/Title.tsx
  ui/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds reusable Paragraph ui element
  components/LocationRecordDisplay.tsx
  components/OrgRecordDisplay.tsx
  components/PwaDownload.module.css
  components/PwaDownload.tsx
  components/ResourceHub.module.css
  components/ResourceHub.tsx
  components/ScheduleRecordDisplay.tsx
  types/ui.ts
  ui/Details.module.css
  ui/Paragraph.module.css
  ui/Paragraph.tsx
  ui/Title.tsx
  ui/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

renames RecordListing ui component to Card, isolates text formatting css to make it easier to manage
  components/LocationRecordDisplay.tsx
  components/PwaDownload.tsx
  components/RecordPane.module.css
  components/RecordPane.tsx
  styles/variables.css
  types/ui.ts
  ui/Card.module.css
  ui/Card.tsx
  ui/RecordListing.tsx
  ui/Title.module.css
  ui/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

updates location record text formatting
  components/LocationRecordDisplay.module.css
  components/LocationRecordDisplay.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

initial static pages
  components/Burger.module.js
  components/Burger.tsx
  components/BurgerItems.module.js
  components/BurgerItems.tsx
  components/Header.module.css
  components/Header.tsx
  hooks/useOnClickOutside.tsx
  package.json
  pages/about-us/index.tsx
  pages/checklist/index.tsx
  pages/know-your-rights/index.tsx
  pages/success-stories/index.tsx
  yarn.lock
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

yarn added
  public/service-worker.js
  yarn.lock
Due: yarn run lint-es

added yarn
  public/service-worker.js
  yarn.lock
Due: yarn run lint-es

fixed url for lisa profile
  pages/success-stories/index.tsx
Due: yarn run lint-es, yarn run type-check

fixed active item null error
  pages/know-your-rights/index.tsx
Due: yarn run lint-es, yarn run type-check

adds front and back end validators while sending a text message
  components/SendText.tsx
  helpers/validators.ts
  pages/api/twilio.ts
Due: yarn run lint-es, yarn run type-check

cleaning up style on cards
  pages/success-stories/index.tsx
Due: yarn run lint-es, yarn run type-check

taking out cardaction area
  pages/success-stories/index.tsx
Due: yarn run lint-es, yarn run type-check

introduces rroute by route validation for api
  helpers/validators.ts
  pages/api/twilio.ts
  types/CORS.ts
Due: yarn run lint-es, yarn run type-check

transfers single record airtable record fetching to api routes, so now no env variables are exposed in browser
  constants/airtable.ts
  hooks/useSingleRecord.ts
  pages/api/singleairtablerecord.ts
Due: yarn run lint-es, yarn run type-check

Path conditions:
  yarn run lint-es: any of: ./**/*.{js,jsx,ts,tsx}
  yarn run type-check: any of: ./**/*.{ts,tsx}
  yarn run lint-css: any of: ./**/*.css
