Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint-es, yarn run type-check, yarn run lint-css

.lintstagedrc.json:

{
    "./**/*.{js,jsx,ts,tsx}": "yarn run lint-es",
    "./**/*.{ts,tsx}": "yarn run type-check",
    "./**/*.css" : "yarn run lint-css"
}

moves fetching of multiple airtable records to api routes
  hooks/useMultipleListRecords.ts
  pages/api/multipleairtablerecords.ts
Due: yarn run lint-es, yarn run type-check

eliminates services folder and adds checking on both airtable fetching routes
  components/SendText.tsx
  constants/airtable.ts
  hooks/useMultipleListRecords.ts
  hooks/useSingleRecord.ts
  pages/api/multipleairtablerecords.ts
  pages/api/singleairtablerecord.ts
  services/GET.ts
Due: yarn run lint-es, yarn run type-check

fixes deployed address ending with issue
  helpers/validators.ts
Due: yarn run lint-es, yarn run type-check

adding margin auto to root
  pages/success-stories/index.tsx
Due: yarn run lint-es, yarn run type-check

removed unused imports
  pages/checklist/index.tsx
Due: yarn run lint-es, yarn run type-check

header css changes
  components/Header.module.css
Due: yarn run lint-css

Header lang local. List and style
  components/Header.tsx
Due: yarn run lint-es, yarn run type-check

simplifies language switcher
  components/LangSwitcher.tsx
Due: yarn run lint-es, yarn run type-check

abstracts popup info into usePopup hook
  components/MapMarker.tsx
  hooks/index.ts
  hooks/usePopup.ts
Due: yarn run lint-es, yarn run type-check

adds tooltip to search page in category pages
  components/Search.module.css
  components/Search.tsx
  components/Tooltip.module.css
  components/Tooltip.tsx
  ui/Input.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds more descriptive copy for search tooltip
  components/Search.tsx
Due: yarn run lint-es, yarn run type-check

renames Search component to FetchedDataSearch
  components/FetchedDataSearch.module.css
  components/FetchedDataSearch.tsx
  components/RecordPane.tsx
  components/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

create LiveDataSearch component and connects it to globalsearch api route. Search is debounced by half a second using Lodash package debounce, also installed in this commit
  components/FetchedDataSearch.tsx
  components/LiveDataSearch.module.css
  components/LiveDataSearch.tsx
  components/index.ts
  constants/copy.ts
  package.json
  pages/_app.tsx
  pages/api/globalsearch.ts
  yarn.lock
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

search delivers data to api, where api calls airtable.the airtable then transmits the fetched data to the frontend, where it is displayed
  components/LiveDataSearch.module.css
  components/LiveDataSearch.tsx
  hooks/useMultipleListRecords.ts
  pages/api/airtablerecordsbycategory.ts
  pages/api/airtablerecordsbykeyword.ts
  pages/api/globalsearch.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

simplifes structure and css of LiveDataSearch component
  components/LiveDataSearch.module.css
  components/LiveDataSearch.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

sets up global context ilinked to LiveDataSearch
  components/LangSwitcher.tsx
  components/LiveDataSearch.tsx
  hooks/index.ts
  hooks/useGlobalSearch.ts
  pages/_app.tsx
  pages/api/airtablerecordsbykeyword.ts
Due: yarn run lint-es, yarn run type-check

creates search page with deep linking started as well, changes LiveDataSearch to a form that can submit
  components/LiveDataSearch.tsx
  pages/search/index.tsx
Due: yarn run lint-es, yarn run type-check

fixes error where loader appeared when category search was not returning
  components/LeafLoader.module.css
  components/LiveDataSearch.tsx
  components/RecordPane.tsx
  hooks/useSingleRecord.ts
  pages/search/[id].tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds basic front page search map
  components/CategoryPageContainer.tsx
  components/LiveDataSearch.tsx
  components/OrgPageContainer.tsx
  helpers/filters.ts
  hooks/useGlobalSearch.ts
  pages/_app.tsx
  pages/search/[id].tsx
  pages/search/index.tsx
  public/icons/search_marker.svg
Due: yarn run lint-es, yarn run type-check

eliminates unused objects in FetchedDataSearch
  components/FetchedDataSearch.tsx
Due: yarn run lint-es, yarn run type-check

adds resolution to fix elliptic security issue
  package.json
  yarn.lock
Due: none

allows search page to display multiple categories of icons
  components/MapMarker.tsx
  helpers/filters.ts
  pages/api/airtablerecordsbycategory.ts
  types/records.ts
Due: yarn run lint-es, yarn run type-check

allows dynamic icons on single fetched records
  components/MapMarker.tsx
  hooks/useSingleRecord.ts
Due: yarn run lint-es, yarn run type-check

can't have everything for useGlobalSearch in hook or in LiveDataSearch component because of the way it is structured, but i think it has a pretty good mix now
  hooks/useGlobalSearch.ts
  hooks/useGlobalSearch.tsx
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check

caches api calls for one hour on server
  constants/cache.ts
  package.json
  pages/api/airtablerecordsbycategory.ts
  pages/api/airtablerecordsbykeyword.ts
  pages/api/singleairtablerecord.ts
  yarn.lock
Due: yarn run lint-es, yarn run type-check

readding
  constants/cache.ts
  package.json
  pages/api/airtablerecordsbycategory.ts
  pages/api/airtablerecordsbykeyword.ts
  pages/api/singleairtablerecord.ts
  yarn.lock
Due: yarn run lint-es, yarn run type-check

seeing if caching is the problem
  pages/api/airtablerecordsbycategory.ts
Due: yarn run lint-es, yarn run type-check

removed caching for now
  constants/cache.ts
  package.json
  pages/api/airtablerecordsbycategory.ts
  pages/api/airtablerecordsbykeyword.ts
  pages/api/singleairtablerecord.ts
  yarn.lock
Due: yarn run lint-es, yarn run type-check

cache experiment
  constants/cache.js
  next.config.js
  pages/api/airtablerecordsbycategory.ts
  pages/api/airtablerecordsbykeyword.ts
  pages/api/singleairtablerecord.ts
Due: yarn run lint-es, yarn run type-check

third round of lighthouse scoring
  components/FetchedDataSearch.module.css
  components/FetchedDataSearch.tsx
  components/Footer.module.css
  components/LiveDataSearch.module.css
  components/LiveDataSearch.tsx
  components/MapMarker.tsx
  components/ResourceHub.tsx
  components/SendText.module.css
  components/SendText.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

fetches city data on airtable keyword and category search and passes down to map marker
  helpers/filters.ts
  pages/api/airtablerecordsbycategory.ts
  pages/api/airtablerecordsbykeyword.ts
Due: yarn run lint-es, yarn run type-check

creates CityFilter component, preps for filtering
  components/CategoryPageContainer.tsx
  components/CityFilter.module.css
  components/CityFilter.tsx
  components/DisplayMap.module.css
  components/DisplayMap.tsx
  components/index.ts
  constants/maps.ts
  helpers/filters.ts
  pages/search/index.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

changes search fields to type='search'
  components/FetchedDataSearch.tsx
  components/LiveDataSearch.tsx
Due: yarn run lint-es, yarn run type-check

creates Checkbox ui component, sets up CityFilter component further. nNext up is fecthed data state management and Checkbox styling
  components/CityFilter.module.css
  components/CityFilter.tsx
  ui/Checkbox.module.css
  ui/Checkbox.tsx
  ui/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

gadds basic region filtering
  components/CityFilter.tsx
  components/DisplayMap.tsx
  constants/maps.ts
Due: yarn run lint-es, yarn run type-check

adds language support filtering checkboxes. still need to style checkbox, but it's good for now
  components/CityFilter.module.css
  components/CityFilter.tsx
  components/DisplayMap.tsx
  components/LiveDataSearch.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

format cleanup
  components/Burger.tsx
  components/BurgerItems.tsx
  components/Header.tsx
  package.json
  pages/know-your-rights/index.tsx
Due: yarn run lint-es, yarn run type-check

restructures header
  components/Burger.module.js
  components/BurgerItems.module.js
  components/Header.module.css
  components/Header.tsx
  components/LangSwitcher.module.css
  components/LiveDataSearch.module.css
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

fixes success stories copy, temporarily changes spacing of LangSwitcher and LiveDataSearch components
  components/LangSwitcher.module.css
  components/LiveDataSearch.module.css
  components/ResourceHub.module.css
  pages/_app.tsx
  pages/success-stories/index.tsx
  ui/Card.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

pdeletes unnecassary Checkbox ui component and puts checkboxes in CityFilter componenet into a nice clean loop
  components/CityFilter.tsx
  ui/Checkbox.module.css
  ui/Checkbox.tsx
  ui/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css
