Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint-es, yarn run type-check, yarn run lint-css

cleans up ui
  components/OrgRecordDisplay.module.css
  components/OrgRecordDisplay.tsx
  components/PwaDownload.tsx
  components/RecordPane.module.css
  components/RecordPane.tsx
  components/index.ts
  pages/index.tsx
  pages/substanceuse/index.tsx
  public/service-worker.js
  styles/variables.css
  ui/PublicPage.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

fixes button issue
  pages/index.tsx
  public/service-worker.js
  public/service-worker.js.map
  public/workbox-c2b5e142.js
  public/workbox-f88dbe3b.js
  public/workbox-f88dbe3b.js.map
  ui/PublicPage.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

pass on head tags
  components/PwaTags.tsx
  hooks/index.ts
  hooks/useLazyLoad.ts
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  pages/substanceuse/[id].tsx
  pages/substanceuse/index.tsx
  public/images/favicon.ico
  public/images/heart.svg
  styles/globals.css
  tsconfig.json
  ui/IconTile.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

pass on css cleanup
  components/RecordPane.module.css
  components/ScheduleRecordDisplay.module.css
  styles/variables.css
  ui/IconTile.module.css
  ui/PublicPage.module.css
  ui/RecordListing.module.css
Due: yarn run lint-css

pass on role tags
  components/Header.tsx
  components/OrgRecordDisplay.tsx
  components/RecordPane.tsx
  components/Search.tsx
  pages/_app.tsx
  public/images/favicon.ico
  public/service-worker.js
  public/service-worker.js.map
  public/workbox-c2b5e142.js
  public/workbox-f88dbe3b.js
  public/workbox-f88dbe3b.js.map
  ui/Button.tsx
  ui/IconTile.tsx
  ui/RecordListing.tsx
Due: yarn run lint-es, yarn run type-check

improves spacing on records
  components/LocationRecordDisplay.module.css
  components/OrgRecordDisplay.module.css
  components/ScheduleRecordDisplay.module.css
  public/service-worker.js
  styles/variables.css
Due: yarn run lint-es, yarn run lint-css

adds axios upgrade resolution to fix GitHub security advisory CVE-2020-28168 (https://github.com/advisories/GHSA-4w2v-q235-vp99)
  package.json
  yarn.lock
Due: none

fixes minimum-scale issue in _app.tsx
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check

adds basic landing pages for each category
  constants/routes.ts
  pages/clothing.tsx
  pages/clothing/index.tsx
  pages/communitysupport/index.tsx
  pages/communitysupportservices.tsx
  pages/employment.tsx
  pages/employment/index.tsx
  pages/food.tsx
  pages/food/index.tsx
  pages/housing.tsx
  pages/housing/index.tsx
  pages/legalservices.tsx
  pages/legalservices/index.tsx
  pages/medicalsupport.tsx
  pages/medicalsupport/index.tsx
  pages/mentalhealth.tsx
  pages/mentalhealth/index.tsx
  pages/resourcedirectory.tsx
  pages/resourcedirectory/index.tsx
  pages/socialservices.tsx
  pages/socialservices/index.tsx
  pages/transportation.tsx
  pages/transportation/index.tsx
Due: yarn run lint-es, yarn run type-check

adds individual id pages for each category
  pages/clothing/[id].tsx
  pages/communitysupport/[id].tsx
  pages/employment/[id].tsx
  pages/food/[id].tsx
  pages/housing/[id].tsx
  pages/legalservices/[id].tsx
  pages/medicalsupport/[id].tsx
  pages/mentalhealth/[id].tsx
  pages/resourcedirectory/[id].tsx
  pages/socialservices/[id].tsx
  pages/transportation/[id].tsx
Due: yarn run lint-es, yarn run type-check

adds new logo, optimizes record fetching and fixes fetching error
  components/Header.module.css
  hooks/useSingleRecord.ts
  pages/clothing/[id].tsx
  pages/communitysupport/[id].tsx
  pages/employment/[id].tsx
  pages/food/[id].tsx
  pages/housing/[id].tsx
  pages/legalservices/[id].tsx
  pages/medicalsupport/[id].tsx
  pages/mentalhealth/[id].tsx
  pages/resourcedirectory/[id].tsx
  pages/socialservices/[id].tsx
  pages/substanceuse/[id].tsx
  pages/transportation/[id].tsx
  public/images/logo192.png
  public/images/logo512.png
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

upgrades next and webpack
  package.json
  yarn.lock
Due: none

upgrades react and react-dom
  package.json
  yarn.lock
Due: none

upgrades twilio and install peer dev dependencies @types/express and @types/qs
  package.json
  public/service-worker.js
  yarn.lock
Due: yarn run lint-es

upgrades @types/node
  package.json
  yarn.lock
Due: none

upgrades react types
  package.json
  yarn.lock
Due: none

upgrades typescript
  package.json
  yarn.lock
Due: none

upgrades eslint and related plugins
  package.json
  public/service-worker.js
  yarn.lock
Due: yarn run lint-es

upgrades prettier
  package.json
  yarn.lock
Due: none

updates stylelint and associated plugins
  package.json
  yarn.lock
Due: none

upgrades husky and lint-staged
  package.json
  yarn.lock
Due: none

still cannot update next-pwa to current version, but was able to eliminate warnings via new resolutions
  package.json
  yarn.lock
Due: none

eliminates fsevents resolution, as linux on Netlify did not work with it
  package.json
Due: none

looks like this is fixing the webpack/next-pwa issue. fingers crossed
  next.config.js
  package.json
  yarn.lock
Due: yarn run lint-es

adds comment explaining next-pwa/webpack change
  next.config.js
Due: yarn run lint-es

lat and long data summoned from AirTable, gets down to LocationRecordDisplay component. Next step, making a map component
  components/LocationRecordDisplay.tsx
  next.config.js
  services/GET.ts
  types/records.ts
Due: yarn run lint-es, yarn run type-check

prepping layout for map
  components/LocationRecordDisplay.module.css
  components/LocationRecordDisplay.tsx
  components/Map.module.css
  components/Map.tsx
  components/ScheduleRecordDisplay.module.css
  components/SendText.module.css
  components/SendText.tsx
  components/index.ts
  package.json
  pages/_app.tsx
  ui/Button.module.css
  ui/Button.tsx
  ui/Input.tsx
  yarn.lock
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

start maps with static display of locations
  components/Map.module.css
  components/Map.tsx
  package.json
  ui/Input.tsx
  yarn.lock
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

fixes map marker issue
  components/LocationRecordDisplay.module.css
  components/Map.module.css
  components/Map.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

single location maps decently responsive on different sized screens. little hacky, but needs are as needs must
  components/LocationRecordDisplay.module.css
  components/LocationRecordDisplay.tsx
  components/Map.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

improves org record styling
  .eslintrc.json
  components/OrgRecordDisplay.tsx
  ui/RecordListing.module.css
  ui/RecordListing.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

starts improving styling and making map look better
  components/LocationRecordDisplay.tsx
  components/MapAlt.module.css
  components/MapAlt.tsx
  components/OrgRecordDisplay.tsx
  components/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds markers with logos
  public/icons/clothing_marker.svg
  public/icons/community_services_marker.svg
  public/icons/directory_marker.svg
  public/icons/employment_marker.svg
  public/icons/food_marker.svg
  public/icons/housing_marker.svg
  public/icons/legal_marker.svg
  public/icons/medical_marker.svg
  public/icons/mental_health_marker.svg
  public/icons/social_services_marker.svg
  public/icons/substance_use_marker.svg
  public/icons/transportation_marker.svg
Due: none

maps auto zooming now
  components/DisplayMap.module.css
  components/DisplayMap.tsx
  components/MapAlt.tsx
  components/OrgRecordDisplay.tsx
  components/index.ts
  constants/maps.ts
  hooks/useMapInfo.ts
  types/maps.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds new color variables
  components/Header.module.css
  components/ScheduleRecordDisplay.module.css
  styles/globals.css
  styles/variables.css
  ui/Button.module.css
  ui/IconTile.module.css
  ui/Input.module.css
  ui/RecordListing.module.css
Due: yarn run lint-css

cleans up location and sechudle records
  components/OrgRecordDisplay.tsx
  components/ScheduleRecordDisplay.module.css
  components/SendText.module.css
  components/SendText.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

creates navigator for app
  components/Navigator.module.css
  components/Navigator.tsx
  components/OrgRecordDisplay.tsx
  components/RecordPane.tsx
  components/index.ts
  pages/_app.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

removes Map component, cleans up navigator component and adds better typing
  components/DisplayMap.module.css
  components/DisplayMap.tsx
  components/LocationRecordDisplay.tsx
  components/Map.module.css
  components/Map.tsx
  components/Navigator.tsx
  components/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

hopefully fully fixes airtable api fetching issue by adding more values in OPTIONS_OBJECT in ./services/GET.TS
  services/GET.ts
Due: yarn run lint-es, yarn run type-check

adds category to each location info item
  hooks/useSingleRecord.ts
  services/GET.ts
  types/records.ts
Due: yarn run lint-es, yarn run type-check

Path conditions:
  yarn run lint-es: any of: ./**/*.{js,jsx,ts,tsx}
  yarn run type-check: any of: ./**/*.{ts,tsx}
  yarn run lint-css: any of: ./**/*.css
