Repository sbpublicdefendersoffice/sb_reentry_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint-es, yarn run type-check, yarn run lint-css

.lintstagedrc.json:

{
    "./**/*.{js,jsx,ts,tsx}": "yarn run lint-es",
    "./**/*.{ts,tsx}": "yarn run type-check",
    "./**/*.css" : "yarn run lint-css"
}

husky test
  pages/index.tsx
Due: yarn run lint-es, yarn run type-check

freezes packages
  package.json
Due: none

simplifes index
  pages/index.tsx
  styles/Home.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds pwa
  .eslintignore
  .prettierignore
  components/PwaTags.tsx
  next.config.js
  package.json
  pages/index.tsx
  public/images/favicon.ico
  public/images/logo192.png
  public/images/logo512.png
  public/images/vercel.svg
  public/manifest.json
  public/service-worker.js
  public/workbox-c2b5e142.js
  yarn.lock
Due: yarn run lint-es, yarn run type-check

fixes simple service worker error
  public/manifest.json
Due: none

fixes simple service worker issue
  public/service-worker.js
Due: yarn run lint-es

lightly styles page and adds pwa download button
  components/PwaDownloadButton.tsx
  components/PwaTags.tsx
  components/index.ts
  package.json
  pages/_app.tsx
  pages/clothing.tsx
  pages/communitysupportservices.tsx
  pages/emergencyshelter.tsx
  pages/employment.tsx
  pages/food.tsx
  pages/index.tsx
  pages/legalservices.tsx
  pages/longtermhousing.tsx
  pages/medicalsupport.tsx
  pages/mentalhealth.tsx
  pages/resourcedirectory.tsx
  pages/socialservices.tsx
  pages/substanceusetreatment.tsx
  pages/transportation.tsx
  public/images/vercel.svg
  public/service-worker.js
  styles/Home.module.css
  styles/fixer-classes.module.css
  styles/globals.css
  yarn.lock
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

fixes download button
  components/PwaDownloadButton.tsx
  pages/index.tsx
Due: yarn run lint-es, yarn run type-check

changes button
  components/PwaDownloadButton.tsx
Due: yarn run lint-es, yarn run type-check

fixes service worker url error
  public/manifest.json
Due: none

adds back buttons
  components/BackButton.tsx
  components/index.ts
  pages/clothing.tsx
  pages/communitysupportservices.tsx
  pages/emergencyshelter.tsx
  pages/employment.tsx
  pages/food.tsx
  pages/legalservices.tsx
  pages/longtermhousing.tsx
  pages/medicalsupport.tsx
  pages/mentalhealth.tsx
  pages/resourcedirectory.tsx
  pages/socialservices.tsx
  pages/substanceusetreatment.tsx
  pages/transportation.tsx
  public/manifest.json
Due: yarn run lint-es, yarn run type-check

adds upgrade sub dependency resolution for object-path
  package.json
  public/manifest.json
  yarn.lock
Due: none

adds filled icons
  public/icons/clothing.svg
  public/icons/community.svg
  public/icons/directory.svg
  public/icons/employment.svg
  public/icons/food.svg
  public/icons/housing.svg
  public/icons/legal.svg
  public/icons/medical.svg
  public/icons/mentalhealth.svg
  public/icons/socialservices.svg
  public/icons/substanceuse.svg
  public/icons/transportation.svg
  styles/variables.css
  ui/Button.module.css
  ui/IconTile.module.css
Due: yarn run lint-css

standardizes casing
  pages/_app.tsx
  ui/IconTile.module.css
  ui/IconTile.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

uninstalls uswds and updates readme
  README.md
  package.json
  pages/index.tsx
  yarn.lock
Due: yarn run lint-es, yarn run type-check

fixes transportation icon
  public/icons/transportation.svg
Due: none

deploy experiment
  next.config.js
  public/service-worker.js
Due: yarn run lint-es

hooks up basic fetching
  .eslintrc.json
  constants/routes.ts
  next.config.js
  package.json
  pages/substanceuse/[id].tsx
  pages/substanceuse/index.tsx
  pages/substanceusetreatment.tsx
  services/GET.ts
  types/records.ts
  yarn.lock
Due: yarn run lint-es, yarn run type-check

builds out substance use index page ui
  pages/clothing.tsx
  pages/communitysupportservices.tsx
  pages/employment.tsx
  pages/food.tsx
  pages/housing.tsx
  pages/index.tsx
  pages/legalservices.tsx
  pages/medicalsupport.tsx
  pages/mentalhealth.tsx
  pages/resourcedirectory.tsx
  pages/socialservices.tsx
  pages/substanceuse/index.tsx
  pages/transportation.tsx
  ui/Button.tsx
  ui/RecordListing.module.css
  ui/RecordListing.tsx
  ui/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

not as much as i'd hoped done today, but the data fetching is really solid
  pages/substanceuse/[id].tsx
  services/GET.ts
  types/records.ts
Due: yarn run lint-es, yarn run type-check

data passed down and begun work on display components
  .eslintrc.json
  components/Header.tsx
  components/LocationRecordDisplay.module.css
  components/LocationRecordDisplay.tsx
  components/OrgRecordDisplay.module.css
  components/OrgRecordDisplay.tsx
  components/ScheduleRecordDisplay.module.css
  components/ScheduleRecordDisplay.tsx
  components/index.ts
  pages/substanceuse/[id].tsx
  services/GET.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

adds basic ui for locations
  .eslintrc.json
  components/LocationRecordDisplay.module.css
  components/LocationRecordDisplay.tsx
  components/OrgRecordDisplay.module.css
  components/OrgRecordDisplay.tsx
  pages/substanceuse/index.tsx
  styles/globals.css
  styles/variables.css
  ui/RecordListing.module.css
  ui/RecordListing.tsx
  ui/WrapContainer.module.css
  ui/WrapContainer.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

finishes first pass of ui for schedule info
  components/LocationRecordDisplay.tsx
  components/ScheduleRecordDisplay.module.css
  components/ScheduleRecordDisplay.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

fixes icon tile underline issue
  styles/globals.css
  ui/IconTile.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

enables simple search in substanceuse category
  components/Search.module.css
  components/Search.tsx
  components/index.ts
  pages/substanceuse/index.tsx
  services/GET.ts
  styles/globals.css
  styles/variables.css
  ui/IconTile.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

small tweak to header
  components/Header.module.css
  components/Header.tsx
  pages/index.tsx
  ui/IconTile.tsx
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

changes record types to include offset string
  components/Search.tsx
  hooks/index.ts
  hooks/useLazyLoad.ts
  package.json
  pages/substanceuse/index.tsx
  services/GET.ts
  types/records.ts
  yarn.lock
Due: yarn run lint-es, yarn run type-check

sets up simple button based pagination
  pages/substanceuse/index.tsx
  services/GET.ts
  types/records.ts
Due: yarn run lint-es, yarn run type-check

fixes ini subdependency version issue
  package.json
  yarn.lock
Due: none

organizes records on each fetch request
  services/GET.ts
Due: yarn run lint-es, yarn run type-check

testing routes
  pages/api/QWYJrliMYbKZ9B5wt7EJm1*yD*H%5E66uQ%5E.ts
Due: yarn run lint-es, yarn run type-check

corrected commit
  package.json
  pages/api/QWYJrliMYbKZ9B5wt7EJm1*yD*H%5E66uQ%5E.ts
  yarn.lock
Due: yarn run lint-es, yarn run type-check

adds error handling
  pages/api/QWYJrliMYbKZ9B5wt7EJm1*yD*H%5E66uQ%5E.ts
Due: yarn run lint-es, yarn run type-check

texting from front end
  components/LocationRecordDisplay.tsx
  components/SendText.tsx
  components/index.ts
  pages/api/QWYJrliMYbKZ9B5wt7EJm1*yD*H%5E66uQ%5E.ts
  services/GET.ts
  types/records.ts
Due: yarn run lint-es, yarn run type-check

ui for texting to usable level
  components/Search.tsx
  components/SendText.tsx
  ui/Input.module.css
  ui/Input.tsx
  ui/index.ts
Due: yarn run lint-es, yarn run type-check, yarn run lint-css

sid was exposed, now fixed
  components/SendText.tsx
Due: yarn run lint-es, yarn run type-check

adds text placeholder
  components/SendText.tsx
Due: yarn run lint-es, yarn run type-check

consolidates header and publicpage components
  pages/_app.tsx
  pages/index.tsx
  pages/substanceuse/[id].tsx
  pages/substanceuse/index.tsx
Due: yarn run lint-es, yarn run type-check

slims down tree
  components/RecordPane.module.css
  components/RecordPane.tsx
  components/index.ts
  pages/substanceuse/[id].tsx
  pages/substanceuse/index.tsx
  ui/PublicPage.module.css
  ui/RecordListing.module.css
Due: yarn run lint-es, yarn run type-check, yarn run lint-css
